<h2>Edit Subtask Template</h2>

<%= form_with model: @template, local: true do |f| %>
  <%= render 'form', template: @template, form: f %>
<% end %>

<%= link_to 'Show', @template %> |
<%= link_to 'Back', subtask_templates_path %>
